<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>不同环境不同icon打包策略.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4176A0542223F53800F6D6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4176A06C2223F53A00F6D6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4176A0772223F53A00F6D6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
